<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Settings & Preferences</strong>
        <button class="button-app btn-sm" (click)="onPreferenceSave()">Save</button>
      </c-card-header>
      <c-card-body style="height: 80vh">
        <table [hover]="true" cTable color="dark">
          <tbody>
          <tr>
            <td>
              Custom Namespaces (One per line)
            </td>
            <td>
              <textarea style="width: 200px; height: 60px;" [(ngModel)]="namespaceString">

              </textarea>
            </td>
          </tr>
          <tr>
            <td>
              License String
            </td>
            <td>
              <textarea style="width: 200px; height: 60px;" [(ngModel)]="licenseString">

              </textarea>
            </td>
          </tr>
          <tr>
            <td>
              Kubeconfig File
            </td>
            <td>
              <input [(ngModel)]="kubeconfigFile" placeholder="/home/acme/.kube/config">
            </td>
          </tr>
          <tr>
            <td>
              Proxy URL
            </td>
            <td>
              <input [(ngModel)]="proxy_url" placeholder="http://bastion:8080">
            </td>
          </tr>

          </tbody>
        </table>
<!--        <gridster [options]="options" #grid>-->
<!--          <gridster-item [item]=item *ngFor="let item of logs_viewport">-->
<!--            <div class="gridster-item-content">-->
<!--              <app-terminal [name]="item['name']" id="{{item['name']}}" #logterminal></app-terminal>-->
<!--            </div>-->
<!--          </gridster-item>-->
<!--        </gridster>-->
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
