<!--<c-footer>-->
  <div class="ms-auto">
    <button class="btn-sm button-app ag-hidden" (click)="showLicenseAddModal()" [hidden]="isValidLicense">
      <fa-icon [icon]="faCreditcard"></fa-icon>&nbsp;
      Upgrade
    </button>&nbsp;&nbsp;&nbsp;
    <fa-icon [icon]="faGithub"></fa-icon>&nbsp;&nbsp;
    <a href="https://github.com/nirops/yakiapp/issues" target="_blank">Report Issue</a>&nbsp;&nbsp;&nbsp;
    <fa-icon [icon]="faEmail"></fa-icon>&nbsp;&nbsp;
    <a href="mailto:nirops.contact@gmail.com?subject=Feedback for Yaki" target="_blank">Send feedback</a>
  </div>
<!--</c-footer>-->

<ng-template #modal_eula let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">End User License Accept</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>Use this application at your own risk.
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Accept</button>
  </div>
</ng-template>

<ng-template #modal_license let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add License</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea class="license-text" [(ngModel)]="licenseString">
    </textarea>
  </div>
  <div class="modal-footer">
    <a class="fa-align-left ag-hidden" href="https://buy.stripe.com/aEUaFl3aY6ueapW289" target="_blank">Buy License</a>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancelled')">Close</button>
  </div>
</ng-template>