<!--<c-footer>-->
  <div class="ms-auto">
    <button class="btn-sm button-app" (click)="onUpgrade()">
      <fa-icon [icon]="faCreditcard"></fa-icon>&nbsp;
      Upgrade
    </button>&nbsp;&nbsp;&nbsp;
    <fa-icon [icon]="faGithub"></fa-icon>&nbsp;&nbsp;
    <a href="mailto:nirops.contact@gmail.com?subject=Feedback for Yaki" target="_blank">Report Issue</a>&nbsp;&nbsp;&nbsp;
    <fa-icon [icon]="faEmail"></fa-icon>&nbsp;&nbsp;
    <a href="mailto:nirops.contact@gmail.com?subject=Feedback for Yaki" target="_blank">Send feedback</a>
  </div>
<!--</c-footer>-->
