<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body style="height: 80vh">
        <c-row>
          <c-col md="8">
            <div class="mb-0">
              <b>Logs</b>
            </div>
            <app-logs></app-logs>
          </c-col>
          <c-col>
            <c-row>
              <c-col md="10">
                <div class="mb-0">
                  <b>CPU & Memory</b>
                </div>
                <c-chart #metricsgraph [data]="mainChart.data"
                         [height]="300"
                         [ngStyle]="{'marginTop.px': 40}"
                         [options]="mainChart.options"
                         [type]="mainChart.type">
                  Main chart
                </c-chart>
              </c-col>
            </c-row>
            <c-row>
              <c-col md="10">
                <div class="mb-0">
                  <b>Environment Variables</b>
                </div>
                <ag-grid-angular #aggrid
                                 style="width: 100%; height: 40vh"
                                 class="ag-theme-alpine-dark"
                                 [suppressCellFocus]="true"
                                 [columnDefs]="columnDefs"
                                 [defaultColDef]="defaultColDef"
                                 [rowData]="rowData"
                                 [rowSelection]="'single'"
                                 [animateRows]="true"
                ></ag-grid-angular>
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
