<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>{{resource.name}}</strong>
                <c-spinner color="secondary" [hidden]="!isLoading"></c-spinner>
            </c-card-header>
            <c-card-body style="padding: 0">
            </c-card-body>
        </c-card>
    </c-col>
    <ag-grid-angular #aggrid
                     style="width: 100%; height: 80vh"
                     class="ag-theme-alpine-dark"
                     [suppressCellFocus]="true"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="rowData"
                     [rowSelection]="'single'"
                     [animateRows]="true"
                     (gridReady)="onGridReady($event)"
                     (rowClicked)="onSelect($event)"
    ></ag-grid-angular>
</c-row>

<c-sidebar
    #sidebar="cSidebar"
    class="d-print-none sidebar sidebar-fixed bg-general sidebar-overlaid sidebar-end sidebar-app long-content"
    id="sidebar"
    [visible]="!isSideBarHidden"
    size="xl"
>

    <c-card class="mb-4">
        <c-card-header>
            <div>
        <span (click)="isSideBarHidden=true;">
            <b><fa-icon [icon]="faClose" class="pointy"></fa-icon></b>
            <b><fa-icon [icon]="faClose" class="pointy"></fa-icon></b>
        </span>
                &nbsp;&nbsp;&nbsp;
                <strong>{{selectedapp?.metadata?.name}}</strong>
                <span class="fa-pull-right">
                <button class="btn-sm button-app" (click)="onAction(action.name)" *ngFor="let action of resource.actions">
                    <div>
                        <i class="fa {{action.icon}}" ></i>&nbsp;
                        {{action.displayName}}
                    </div>
                </button>&nbsp;&nbsp;&nbsp;


                    <!--          <button class="btn-sm button-app" (click)="taillogs(selectedapp?.deployment?.metadata?.name)">-->
                    <!--            <fa-icon [icon]="faTailLog"></fa-icon>&nbsp;-->
                    <!--            Logs-->
                    <!--          </button>&nbsp;-->
                    <!--          <button class="btn-sm button-app" (click)="restart(selectedapp?.deployment?.metadata?.name)">-->
                    <!--            <fa-icon [icon]="faRestart"></fa-icon>&nbsp;-->
                    <!--            Restart-->
                    <!--          </button>&nbsp;-->
                    <!--          <button class="btn-sm button-app" (click)="restart(selectedapp?.deployment?.metadata?.name)">-->
                    <!--            <fa-icon [icon]="faTerminal"></fa-icon>&nbsp;-->
                    <!--            Shell-->
                    <!--          </button>&nbsp;-->
          <span (click)="isSideBarHidden=true;">
            <b><fa-icon [icon]="faClose" class="pointy"></fa-icon></b>
            <b><fa-icon [icon]="faClose" class="pointy"></fa-icon></b>
          </span>
        </span>
            </div>
        </c-card-header>
                <c-card-body style="padding: 0">
                    <c-spinner color="secondary" [hidden]="!isLoading" class="center"></c-spinner>
                    <c-accordion [flush]="true" [alwaysOpen]="true">
                        <c-accordion-item *ngFor="let section of resource.sections" [visible]="!section.hidden">
                            <ng-template cTemplateId="accordionHeader">
                                {{section.name}}
                            </ng-template>
                            <ng-template cTemplateId="accordionBody">
                                <table [hover]="true" cTable color="dark">
                                    <tbody>
                                    <tr *ngFor="let attr of section.attributes">
                                        <td>{{attr.name}}</td>
                                        <td>
                                            <div [innerHTML]="getAttrValue(attr.resource_field)"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </c-accordion-item>
                    </c-accordion>
                </c-card-body>
    </c-card>
</c-sidebar>
